<div>
  <nav
    class="flex w-full flex-row items-center justify-center gap-4 bg-[#c6743f] p-4 text-white"
  >
    <a>Home</a>
    <a>About</a>
    <a>Programming</a>
    <a>Partners</a>
    <a>Vendors</a>
    <a>Be a Friend of Five Points</a>
  </nav>
</div>
